/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
ol,
ul {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}


/* MY-CODE */
body{
    background-color: #e5e5e5;
}


.container {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.listing {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    /*just for pen positioning*/
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
}

.product {
    width: 240px;
    position: relative;
}

.product a {
    text-decoration: none;
}

.img-wrapper {
    display: block;
    width: 100%;
    height: 240px;
    border: 1px solid #afafaf;
    border-bottom: 0;
    overflow: hidden;
    text-align: center;
    background-color: #ffffff;
}

.img-wrapper img {
    max-width: 100%;
    max-height: 100%; /* Constrain the image height */
}

.info {
    background-color: rgb(49, 48, 48);
    width: 100%;
    color: #fff;
    position: relative;
    padding: 30px 10px 20px 10px;
    text-align: center;
    border-radius: 4px;

    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    transition-property: color, height;
    transition-duration: 0.3s, 0.4s;
    transition-timing-function: ease-out;
    height: 67px;
}

.add-btn {
    position: absolute;
    top: -5px;
    left: 8px;
}

.price {
    background: #e32d2c;
    border-radius: 4px;
    position: absolute;
    font-size: 1.3em;
    padding: 4px 13px;
    top: -20px;
    right: 8px;
}

.price.sale {
    background: #00ba2f;
}

.price.old {
    font-size: 0.95em;
    padding: 4px 6px;
    text-decoration: line-through;
    top: -43px;
}

.note {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 8px;
    font-size: 0.9em;
}

.note.on-sale {
    background: #00ba2f;
    color: #fff;
}

.note.no-stock {
    background: #191919;
    color: #fff;
}

.button-container {
    display: flex;
    flex-direction: column;
    width: 10%;
    position: fixed;
    top: 130px;
    left: 0;
    padding: 10px;
    margin-left: 1300px;
    z-index: 999;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.84);
    border: none;
    border-radius: 4px;
    text-align: center;
}

.button a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}
