<div th:fragment="characteristicDetails">
    <div class="input-control">
        <h3>Add Characteristic Details</h3>
        <p>Enter characteristic details accordingly to the following pattern:</p>
        <label for="characteristic-details"></label>
        <textarea id="characteristic-details" name="characteristicDetails" rows="10" cols="250"
                  placeholder="Storage type: ssd&#13;&#10;Storage size: 128 Gb"
                  required th:text="${characteristicDetails}"></textarea>
    </div>
</div>