<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/account.css">
    <link rel="stylesheet" type="text/css" href="/css/navigation.css">
    <script defer src="/js/navigation.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<header th:insert="~{fragments/navigation :: navbar}">
</header>
<main>
    <div class="container">
        <div class="information">
            <a th:href="@{/contact-info}" class="item">
                <i class="fa-regular fa-address-book"></i> Contact Information</a>
            <a th:href="@{/option}" class="item">
                <i class="fa-solid fa-computer"></i> Choose role</a>
            <a th:href="@{/promotion}" class="item">
                <i class="fa-solid fa-percent"></i> Promotion</a>
            <a th:href="@{/order}" class="item">
                <i class="fa-solid fa-clock-rotate-left"></i> Orders</a>
        </div>
    </div>
</main>
</body>

</html>
