<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Validation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/navigation.css">
    <script defer src="/js/navigation.js"></script>
    <!--<script defer src="/js/registration.js"></script>-->
    <link rel="stylesheet" type="text/css" href="/css/registration.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>
<header th:insert="~{fragments/navigation :: navbar}">
</header>
<div class="container" style="margin-top: 75px; width: 400px">
    <form id="form" th:method="POST"
          th:action="@{/process-add-product}"
          th:object="${product}" enctype="multipart/form-data"
          novalidate>
        <h1 style="margin-top: 0">Add Product</h1>
        <div th:insert="~{fragments/management/promotion/promotion :: categoryName}"></div>
        <div class="input-control">
            <label for="product-name">Product name</label>
            <input id="product-name" name="productName" type="text"
                   pattern="^[A-Z][a-z]{1,49}$"
                   title="Product name must start with a capital letter, contain only alphabetical characters,
                    be 2-50 characters"
                   th:field="*{productName}" required>
            <!--<div class="error" th:if="${#fields.hasErrors('productName')}">
                <p th:each="error : ${#fields.errors('productName')}" th:text="${error.message}"></p>
            </div>-->
        </div>
        <div class="input-control">
            <label for="sku">Product sku</label>
            <input id="sku" name="sku" type="text"
                   pattern="^[A-Z][a-z][0-9]{1,254}$"
                   title="Product sku must contain with a capital letter, contain only alphabetical characters,
                    be 2- characters"
                   th:field="*{sku}" required>
            <!--<div class="error" th:if="${#fields.hasErrors('sku')}">
                <p th:each="error : ${#fields.errors('sku')}" th:text="${error.message}"></p>
            </div>-->
        </div>
        <div class="input-control">
            <label for="quantity">Quantity</label>
            <input id="quantity" name="quantity" type="text"
                   pattern="[0-9]{1,254}$"
                   title="Product quantity must contain only digits"
                   th:field="*{quantity}" required>
            <!--<div class="error" th:if="${#fields.hasErrors('quantity')}">
                <p th:each="error : ${#fields.errors('quantity')}" th:text="${error.message}"></p>
            </div>-->
        </div>
        <div class="input-control">
            <label for="price">Price</label>
            <input id="price" name="price" type="text"
                   pattern="[0-9]{1,254}$"
                   title="Product price must contain only digits"
                   th:field="*{price}" required>
            <!--<div class="error" th:if="${#fields.hasErrors('quantity')}">
                <p th:each="error : ${#fields.errors('quantity')}" th:text="${error.message}"></p>
            </div>-->
        </div>
        <div class="input-control">
            <h3>Add Product Images</h3>
            <label for="product-images" style="cursor: pointer;">Primary Image</label>
            <input id="product-images" th:name="primaryImage" th:type="file"
                   accept="image/*" required th:field="*{primaryImage}">
        </div>
        <div th:insert="~{fragments/management/characteristic/images :: uploadImages}"></div>
        <button type="submit" style="margin-bottom: 0">Add characteristics</button>
    </form>
</div>
</body>

</html>
