<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/specific-product.css">
    <link rel="stylesheet" type="text/css" href="/css/navigation.css">
    <script defer src="/js/navigation.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<header th:insert="~{fragments/navigation :: navbar}">
</header>
<main>

    <div class="product">
        <div class="product__photo">
            <div class="gallery-wrapper">
                <i class="fa-solid fa-circle-arrow-left fa-xl" id="backBtn"></i>
                <div class="gallery">
                    <div class="gallery-container">
                            <span th:each="imageId: ${productImagesIds}">
                                <img class="gallery-item" th:src="@{'/productImage?imageId=' + ${imageId}}">
                            </span>
                    </div>
                </div>
                <i class="fa-solid fa-circle-arrow-right fa-xl" id="nextBtn"></i>
            </div>
        </div>
        <div class="product__info">
            <div class="title">
                <h1 th:text="${product.getProductName()}"></h1>
                <span th:text="${product.getSku()}">Code: </span>
            </div>
            <div class="price">
                <span th:text="'$'+ ${price}"></span>
            </div>
            <div class="description">
                <h3>Characteristics</h3>
                <ul>
                    <li th:each="generalCharacteristic: ${characteristics.entrySet()}">
                        <span th:text="${generalCharacteristic.key}" class="generalCharacteristic"></span>:
                        <ul>
                            <li th:each="characteristic : ${generalCharacteristic.value.entrySet()}">
                                <span th:text="${characteristic.key}" class="characteristicName"></span>:
                                <span th:text="${characteristic.value}" class="characteristic"></span>
                            </li>
                        </ul><br>
                    </li>
                </ul>
            </div>
            <a class="buy&#45;&#45;btn" th:href="@{'/add-to-cart?productName='+${productName}}">
                ADD TO CART</a>
        </div>
    </div>
</main>
<script>
    let scrollContainer = document.querySelector(".gallery");
    let backBtn = document.getElementById("backBtn");
    let nextBtn = document.getElementById("nextBtn");
    scrollContainer.addEventListener("wheel", (event) => {
        event.preventDefault();
        scrollContainer.scrollLeft += event.deltaY;
        scrollContainer.style.scrollBehavior = "auto";
    });

    nextBtn.addEventListener("click", () => {
        scrollContainer.style.scrollBehavior = "smooth";
        scrollContainer.scrollLeft += 600;
    });

    backBtn.addEventListener("click", () => {
        scrollContainer.style.scrollBehavior = "smooth";
        scrollContainer.scrollLeft -= 600;
    });

</script>
</body>

</html>
