<div th:fragment="categoryName">
  <div class="input-control">
    <label for="category-name">Category name</label>
    <input id="category-name" name="categoryName" type="text"
           pattern="^[A-Z][a-z]{1,49}$"
           title="Category name must start with a capital letter, contain only alphabetical characters,
                    be 2-50 characters"
           th:field="*{categoryName}" required>
    <div class="error" th:if="${#fields.hasErrors('categoryName')}">
      <p th:each="error : ${#fields.errors('categoryName')}" th:text="${error.message}"></p>
    </div>
  </div>
</div>