<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Validation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/navigation.css">
    <script defer src="/js/navigation.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/registration.css">
    <script src="/js/login.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>
<header th:insert="~{fragments/navigation :: navbar}"></header>
<div class="container">
    <form id="form" th:method="POST" th:action="@{/process-login}" th:object="${user}"
          novalidate>
        <h1>Login</h1>
        <div th:insert="~{fragments/email :: emailAddress}"></div>
        <div th:insert="~{fragments/password/password :: passwrodInput}"></div>
        <p class="message">Forgot <a href="/restore-username"><b>Username</b></a>/<a
                href="/restore-password">Password</a>?</p>
        <button type="submit">Login</button>
        <p class="message">Do not have an account? <a href="/email-registration">Register</a></p>
    </form>
</div>
</body>

</html>
