<div th:fragment="passwrodInput">
    <div class="input-control">
        <label for="password">Password</label>
        <input id="password" name="password" type="password"
               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,20}$"
               title="Password must contain at least one lowercase letter, one uppercase letter,
                one digit,one special character (@$!%*?&), and be 8-20 characters long" th:field="*{Password}"
               required>
        <div class="error"></div>
        <div th:if="${#fields.hasErrors('Password')}" th:errors="*{Password}"
             th:errorclass="error"></div>
    </div>
</div>